@import "style/colors";
@import "style/mixins";

.settings-page {
    @include default-page;

    &__header {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 2rem;
    }
    &__subheader {
        font-weight: 500;
        font-size: 1.5rem;
    }
    &__settings-row {
        font-size: 1.5em;
        cursor: pointer;
    }

    &__dropdown {
        max-width: 250px;
    }

    &__email {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
    }
}
