@use "style/variables";
@import "style/clean";
@import "style/colors";
@import "style/project-fonts";
@import "style/toast";
@import "style/breakpoints";

.Layout {
    .HeaderView__logo-image svg {
        width: 20px;
    }

    background-color: $newBackground1;
    padding-top: 52px;
    overflow-x: hidden;
    height: 100%;
    //max-width: 100%;

    display: grid;
    grid-template-columns: min-content minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

    @media (max-width: $mobile-width) {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
        gap: 0 0;
        grid-template-areas:
            "header"
            "content"
            "footer";
    }

    &__header {
        grid-area: header;
    }

    &__footer {
        grid-area: footer;
    }

    &__sidebar {
        grid-area: sidebar;

        @media (max-width: $mobile-width) {
            position: absolute !important;
            padding-top: 3.2rem;
        }
    }

    &__content {
        grid-area: content;
        padding: 15px;
        display: flex;
        justify-content: center;

        @media (max-width: $tablet-width) {
            padding: 8px;
        }

        @media (max-width: $mobile-width) {
            padding: 4px;
        }
    }
}
