@use "@/shared/ui/styles/variables";

.AutocompleteItem {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgba(variables.$color, 0.7);
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;

  @media (max-width: variables.$mobile-width) {
    padding: 8px 12px;
  }
}

.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
