.idea
.vscode
*.pyc
frontend-new/.eslintcache
frontend-new/public/index-lang.json
backend/src/rawgpy/
frontend-new/.eslintcache
frontend-new/node_modules
frontend-new/build/
./frontend-new/.env
frontend-dist/
.understand-anything/
