.time-to-beat {
    &__element {
        display: inline;
        margin-right: 8px;
    }
    &__icon {
        margin-right: 3px;

        &_green {
            color: #31da1b;
        }
        &_yellow {
            color: yellow;
        }
        &_red {
            color: red;
        }
    }
}
