-e git+https://gitlab.com/Kononkov1998/rawg-python-wrapper#egg=rawgpy #modified rawgpy
celery==5.1.2
Django==3.2.13
django-cors-headers==3.10.0
django-debug-toolbar==3.2.2
djangorestframework==3.12.4
djangorestframework_simplejwt==5.0.0
drf-nested-routers==0.93.4
drf-yasg==1.20.0
Fabric3==1.14.post1
gunicorn==20.1.0
howlongtobeatpy==0.1.18
Pillow==8.4.0
psycopg2==2.9.1
redis==3.5.3
requests==2.26.0
tmdbsimple==2.8.0
wheel