wheel
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
django-debug-toolbar
Pillow
psycopg2
Fabric3
-e git+https://gitlab.com/Kononkov1998/rawg-python-wrapper#egg=rawgpy #modified rawgpy
howlongtobeatpy
drf-yasg
tmdbsimple
requests
drf-nested-routers
celery
celery[redis]