.confirmPasswordForm{
    margin-top: 10rem;
    color:  rgb(207, 207, 207);
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

.confirmPasswordLabel{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}

.confirmPasswordInput{
    width: 300px;
    background-color: rgb(30,30,30);
    color: rgb(207, 207, 207);
    border: 1px solid;
    border-color:  rgb(207, 207, 207);
    border-radius: 5px;
    outline: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.confirmPasswordInput:focus{
    border-color: #80bdff;
    outline: 0;
}

.confirmPasswordButton{
    background-color: #7654de !important;
    color: rgb(255,255,255);
    font-size: 1.1rem;
    padding: 5px 30px;
    width: 12rem;
    border-radius: 5px;
}

.confirmPasswordButton:disabled{
    background-color: #5b1a81 !important;
    color: rgb(177, 177, 177);
    font-size: 1.1rem;
    padding: 5px 30px;
    width: 12rem;
    border-radius: 5px;
}