
.contentPage
    width: 80rem
    max-width: 100vw
    margin-left: auto
    margin-right: auto
    color: $newText3
    margin-top: 4rem
    margin-bottom: 1rem
    padding: 0px

    .contentHeader
        position: relative
        width: 100%
        background-color: $newBackground1
        color: $newText3
        padding: 0
        border-top-left-radius: 10px
        border-top-right-radius: 10px

        .posterBlock
            display: inline-block
            text-align: center
            width:
            max-width: 100%
            padding: 0
            overflow: hidden

            &.widePoster
                width: 35rem

            &.tightPoster
                width: 25rem

            img
                max-height: 30rem

        .infoBlock
            position: relative
            display: inline-block
            white-space: normal
            vertical-align: top
            max-width: 100%

            padding-left: 1rem
            padding-bottom: 1rem
            padding-right: 1rem

            &.tightInfo
                width: 45rem

            &.wideInfo
                width: 55rem

            .header
                padding-right: 2.5em

            .mainInfo
                margin-bottom: 10px

                p
                    margin-bottom: 2px

            .scoreBlock
                position: absolute
                top: 0
                right: 0
                margin-right: 10px
                margin-top: 10px
                vertical-align: top

            #reviewInput
                background-color: $newBackground1
                color: $newText3
                width: 50%

    .contentBody
        background-color: $newBackground2
        padding: 1rem

        &.dark
            background-color: $newBackground1

        .reviewBody
            max-width: 100%
            display: flex
            flex-direction: column
            position: relative

            #reviewInput, #spentTimeInput
                max-width: 100%
                margin-bottom: 1rem
                color: $newText3
                background-color: $newBackground3
                border: none
                border-radius: 8px
                outline: none

            .reviewBlock
                display: flex
                flex-direction: column

                #reviewInput
                    width: 500px
                    padding-left: 0.5rem

            .spentTimeBlock
                display: flex
                flex-direction: column
                align-items: flex-start

                #spentTimeInput
                    margin-left: 0

        .saveReviewButton
            width: 150px
            height: 40px
            padding: 4px 8px
            margin-top: 1rem
            margin-bottom: 20px
            margin-right: 1rem

        .friendsBlock
            position: relative
            max-width: 100%
            width: 78rem

        .additionalBody
            width: 39rem
            max-width: 100%
            display: inline-block
            vertical-align: top
            margin-top: 1.5rem