
.settingsHeader
    margin-bottom: 2rem

.settingsCheckbox
    display: inline-block

.settingsRow
    font-size: 1.5em
    cursor: pointer

#privacySelect
    background-color: $newBackground2
    color: $newText3
    font-size: 1.2rem
    border-radius: 0.5rem
    margin-left: 1rem
    border: 1px solid
    padding: 2px 4px

.saveSettingsButton
    padding: 4px 8px
    margin-top: 15px
    margin-bottom: 20px
    font-size: 1.1rem
