@import "./_colors"

.settingsPage
    width: 80rem
    max-width: 100%
    margin-left: auto
    margin-right: auto
    color: $textColor
    margin-top: 4rem
    margin-bottom: 2em
    padding: 0px

.settingsBlock
    padding: 1rem
    background-color: $backgroundColor

.settingsCheckbox
    display: inline-block

.settingsRow
    font-size: 1.5em
    cursor: pointer

.saveSettingsButton
    background-color: $backgroundColor
    border: 1px solid #cfcfcf
    color: $textColor
    padding: 4px 8px
    text-align: center
    text-decoration: none
    display: inline-block
    margin-top: 15px
    margin-bottom: 20px
    cursor: pointer
    font-size: 16px
