.userPage
    background-color: $backgroundColor
    color: $textColor
    margin-top: 30px
    margin-bottom: 30px
    padding-left: 10px
    padding-top: 10px

.userHeader
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap

    .userCard
        display: flex
        flex-direction: row

        .userAvatar
            height: 100px
            width: 100px
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            background-color: $activeBackgroundColor
            border-radius: 4rem
            margin-right: 1rem

        h2
            font-weight: 500

        p
            font-size: 1rem

    .addFriendButton
        margin: 0.5rem
        background-color: $mainColor
        border: none
        color: $headerTextColor
        padding: 0.5rem
        text-align: center
        text-decoration: none
        border-radius: 0.5rem

    .addFriendButton:hover
        color: $activeColor

    .addFriendButton:active
        color: white

a.logLink:link, a.logLink:visited, a.logLink:active, a.dataTable:link, a.dataTable:visited, a.dataTable:active
    color: rgb(238, 238, 238)
    font-weight: 500

a.logLink:hover, a.dataTable:hover
    color: $activeColor
    font-weight: 500

.logDay
    display: flex
    flex-direction: row
    margin-bottom: 0.5rem
    justify-content: flex-start
    flex-wrap: wrap
    align-items: stretch

    .logDate
        margin-left: 0px
        margin-right: 0.5rem
        font-weight: 400

    .logRows
        display: flex
        flex-direction: column
        flex-wrap: wrap
        flex-shrink: 2
        min-width: 200px
        max-width: 90%

        .logRow
            margin-bottom: 0.5rem
            margin-top: 0px
            flex-wrap: wrap

.logPaginationButton
    margin-top: 10px
    margin-bottom: 20px
    margin-left: 10px
    width: 100px
    background-color: $backgroundColor
    border: 1px solid $textColor
    color: $textColor

.dataTable
    color: $textColor
    max-width: 100%

.md-form input.active, .mdb-datatable-filter input, .dataTables_length select
    color: $textColor !important
    background-color: $backgroundColor !important

.dataTables_paginate a
    color: $textColor !important

.dataTables_paginate li.active a, .dataTables_paginate li a:hover
    background-color: $hoverLinkColor !important

.table-striped tbody tr:nth-of-type(odd)
    background-color: $backgroundColor
