.userPage
    color: $newText3
    margin-top: 30px
    margin-bottom: 30px
    padding-left: 10px
    padding-top: 10px

.userHeader
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    background: $newBackground2
    padding: 16px 24px 20px
    border-radius: 8px

    .userCard
        display: flex
        flex-direction: row

        .userAvatar
            height: 72px
            width: 72px
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            background-color: $newBackground3
            border-radius: 4rem
            margin-right: 1rem

        h2
            @include headline5

        .subtitle
            @include subtitle2
            color: $newText2

    .addFriendButton
        @include button
        color: $newText3
        background-color: $newAccent2
        border: none
        padding: 8px
        border-radius: 8px

    .addFriendButton:hover
        color: $newText2

    .addFriendButton:active
        color: $newText3

a.logLink:link, a.logLink:visited, a.logLink:active, a.dataTable:link, a.dataTable:visited, a.dataTable:active
    color: $newText3
    font-weight: 600

a.logLink:hover, a.dataTable:hover
    color: $newAccent2

.logDay
    display: flex
    flex-direction: row
    margin-bottom: 0.5rem
    justify-content: flex-start
    flex-wrap: wrap
    align-items: stretch

    .logDate
        margin-left: 0px
        margin-right: 0.5rem
        font-weight: 400

    .logRows
        display: flex
        flex-direction: column
        flex-wrap: wrap
        flex-shrink: 2
        min-width: 200px
        max-width: 90%

        .logRow
            margin-bottom: 0.5rem
            margin-top: 0px
            flex-wrap: wrap

.logPaginationButton
    margin-top: 10px
    margin-bottom: 20px
    margin-left: 10px
    width: 100px
    background-color: $newBackground2
    border: 1px solid $newText2
    color: $newText3

.dataTable
    color: $newText3
    max-width: 100%

.md-form input.active, .mdb-datatable-filter input, .dataTables_length select
    color: $newText3 !important
    background-color: $newBackground2 !important

.dataTables_paginate a
    color: $newText3 !important

.dataTables_paginate li.active a, .dataTables_paginate li a:hover
    background-color: $newAccent2 !important

.table-striped tbody tr:nth-of-type(odd)
    background-color: $newBackground2

.itemRowsHeader
    display: flex
    flex-direction: row
    justify-content: space-between
    @include subtitle2
    color: $newText2
    margin-bottom: 1rem
    flex-wrap: wrap

    .itemRowsHeaderLeft
        display: flex
        flex-direction: row
        flex-wrap: wrap
        max-width: 100%

        #searchUserItemsInput
            @include headline6
            background-color: $newBackground3
            color: $newText3
            border: none
            border-radius: 8px
            width: 100%
            height: 38px
            outline: none
            flex-shrink: 1
            @media (max-width: 516px)
                width: 80%

            &[type=text]
                padding-left: 1rem

        .mobileOpenButton
            background-color: $newBackground3
            color: $newText3
            border: none
            border-radius: 8px
            margin-left: 1rem
            padding: 4px 8px
            font-size: 20px
            height: 38px
            width: 40px

            @media (min-width: 516px)
                display: none

        .sortButtons
            @media (max-width: 515px)
                margin-left: 0
                margin-top: 1rem

            .sortRowsButton
                background-color: $newBackground3
                color: $newText3
                border: none
                border-radius: 8px
                margin-left: 1rem
                padding: 4px 8px
                font-size: 20px
                height: 38px

                &:nth-child(1)
                    @media (max-width: 515px)
                        margin-left: 0
                &:nth-child(2)
                    margin-right: 1rem

        &:focus
            border: none

    .itemRowsHeaderRight
        display: flex
        flex-direction: row
        align-items: center

        @media (max-width: 1080px)
            margin-top: 1rem

.itemRowsFooter
    display: flex
    justify-content: space-between

    div
        display: flex

.itemRows
    display: flex
    flex-wrap: wrap
    flex-direction: column
    flex-shrink: 2
    min-width: 200px
    max-width: 100%

    .itemBlock
        margin-bottom: 1rem
        display: flex
        flex-direction: column-reverse
        border-radius: 8px
        max-width: 100%

        .itemRow
            display: flex
            flex-direction: row
            justify-content: space-between
            background: $newBackground3
            margin-top: 0
            border-radius: 0 8px

            @media (max-width: 900px)
                flex-wrap: wrap

            .itemRowLeft
                display: flex
                flex-direction: row
                background: $newAccent2
                flex-grow: 1
                flex-shrink: 1

                .itemPoster
                    background-color: $newBackground3
                    width: 100px
                    flex-shrink: 0
                    background-position: center
                    background-repeat: no-repeat
                    background-size: 100% auto

                .itemName
                    @include headline6
                    color: $newText3
                    padding: 10px 8px
                    display: flex
                    align-items: center
                    flex-wrap: wrap
                    &:hover a
                        color: $newText2

            .itemRowRight
                display: flex
                flex-direction: row
                justify-content: flex-end
                background: $newBackground3
                max-width: 100%
                flex-grow: 0
                flex-shrink: 0
                border-radius: 8px

                > *
                    display: flex
                    flex-direction: row
                    align-items: center
                    border-right: 1px solid $newText2
                    justify-content: center
                    padding: 8px
                    @include headline6
                    width: 110px

                    &:last-child
                        border-right: none !important

                .itemStatus
                    @include subtitle2
                    color: $newText3
                    flex-direction: column
                    width: 140px

                    .itemStatusUser
                        font-style: normal
                        font-weight: bold
                        font-size: 17px
                        line-height: 23px
                        text-align: center
                        letter-spacing: 0.15px
                        color: $newAccent2

                .itemScore
                    i
                        margin-left: 0.5rem
                        color: #F2C94C

                .itemTime
                    i
                        margin-left: 0.5rem

        .itemReview
            @include subtitle2
            color: $newText3
            padding: 1rem
            background: $newBackground1
            width: 100%
            border-radius: 0 0 8px 8px

            .itemReviewUser
                @include body2
                color: $newText2

            &[style*="display: none"] ~ .itemRow
                border-radius: 8px
