@import "style/colors";
@import "style/mixins";

.seasons-block {
    &__all-button {
        @include default-button;
        width: 200px;
        height: 30px;
    }
    &__save-episodes-block {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 1000;
        text-align: center;
        padding-top: 5px;
        background-color: $newBackground3;
    }
    &__save-episodes-button {
        @include default-button;
        width: 150px;
        height: 50px;
    }
    &__season-block {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
