.savePreviewButton {
	background-color: rgb(30, 30, 30);
	border: 1px solid #cfcfcf;
	color: rgb(207, 207, 207);
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 16px;
}

.ratingDigits {
	padding-left: 12px;
	padding-right: 10px;
	font-size: 12px;
}

.gameFriendsBlock {
	position: relative;
	max-width: 100%;
	width: 78rem;
}

.gameContentPage {
	width: 80rem;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(207, 207, 207);
	margin-top: 4rem;
	margin-bottom: 2em;
	padding: 0px;
}

.gameContentHeader {
	position: relative;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: #fff;
	padding: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.gameContentBody {
	background-color: rgb(30, 30, 30);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.mainInfo {
	margin-bottom: 10px;
}

.mainInfo p {
	margin-bottom: 2px;
}

.posterBlock {
	display: inline-block;
	text-align: center;
	width: 35rem;
	max-width: 100%;
	padding: 0;
	overflow: hidden;
}

.gameInfoBlock {
	position: relative;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	max-width: 100%;
	width: 45rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
}

.gameInfoBlock .header {
	padding-right: 2.5em;
}

.gameReviewBody {
	width: 40rem;
	max-width: 100%;
}

.testil {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207);
}
