@import "style/colors";
@import "style/project-fonts";

.LogsBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 10px 12px;
        border-radius: 12px;
        background-color: $newBackground2;
        box-shadow: inset 0 0 0 1px rgba(63, 64, 65, 0.35);
        flex-wrap: wrap;
        color: $newText2;
        gap: 12px;

        @media (max-width: 770px) {
            grid-template-columns: 1fr;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        &_hidden {
            display: none;
        }
    }

    &__search-input {
        flex-grow: 1;
        max-width: 360px;
    }

    &__mobile-expand {
        border: none;
        border-radius: 8px;
        color: $newText3;
        background-color: $newBackground3;
        margin-left: auto;
        padding: 4px 6px;
        font-size: 18px;
        height: 34px;
        width: 36px;

        @media (min-width: 540px) {
            display: none;
        }
    }
    &__page-size {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    &__page-size-label {
        margin-right: 5px;
    }

    &__dropdown {
        min-width: 170px;

        &_hidden {
            display: none;
        }
    }
}
