@import "style/colors";
@import "style/project-fonts";

.LogsBlock {
    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        color: $newText2;
        gap: 1rem;

        @media (max-width: 770px) {
            grid-template-columns: 1fr;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;

        &_hidden {
            display: none;
        }
    }

    &__search-input {
        flex-grow: 1;
        max-width: 300px;
    }

    &__mobile-expand {
        border: none;
        border-radius: 8px;
        color: $newText3;
        background-color: $newBackground3;
        margin-left: 1rem;
        padding: 4px 8px;
        font-size: 20px;
        height: 38px;
        width: 40px;

        @media (min-width: 540px) {
            display: none;
        }
    }
    &__page-size {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    &__page-size-label {
        margin-right: 5px;
    }

    &__dropdown {
        width: 170px;

        &_hidden {
            display: none;
        }
    }
}
@import "../../../../../node_modules/rc-pagination/assets/index.css";

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next {
    background: $newBackground2 !important;
    border-radius: 8px !important;
    border: none !important;

    button {
        background: $newBackground2 !important;
        color: $newText3 !important;
        border-radius: 8px !important;
        border: none !important;
    }
    a {
        color: $newText3 !important;
    }
}
.rc-pagination-item-active {
    background: $newAccent2 !important;
    color: $newText3 !important;

    a {
        color: $newText3 !important;
    }
}
