@import "style/colors";

.search-card {
    width: 540px;
    max-width: 100%;
    height: 140px;
    display: inline-block;
    transition: transform 0.1s linear;

    &:hover {
        z-index: 1000;
        color: $newAccent2;
        transform: scale(1.01);
    }
    &:hover &__poster {
        border-bottom-left-radius: 0;
    }
    &:hover &__body {
        border-bottom-right-radius: 0;
        background: $newBackground1;
    }

    &__link {
        .ButtonView__text {
            width: 540px !important;
            color: $newText3;
        }
    }

    &__poster {
        height: 140px;
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: grey;
        display: inline-block;
        margin: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    &__body {
        padding: 10px;
        text-align: center;
        vertical-align: top;
        font-weight: 200;
        background-color: $newBackground3;
        height: 140px;
        width: 50%;
        display: inline-block;
        margin: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: background 0.2s linear;
    }
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 70%;
        font-size: 1.3rem;
        transition: color 0.2s linear;
    }
    &__date {
        transition: color 0.2s linear;
    }
    &__wrapper {
        position: absolute;
        top: 140px;
        padding: 1rem;
        background: $newBackground3;
        color: $newText3;
        border-radius: 0 0 10px 10px;
        width: 540px;
        height: 0;
        transition: opacity 0.2s linear, background 0.2s linear, height 0.2s linear;
        z-index: -1;
        opacity: 0;
        overflow-y: auto;
        max-height: 200px;
        max-width: 100%;
    }
    &__wrapper > * {
        text-align: start;
    }
    &:hover &__wrapper {
        z-index: 1;
        opacity: 1;
        background: $newBackground1;
        height: auto;
    }
}
