a:link {
    color: white;
}

a:visited {
color: white;
}

a:hover {
color: hotpink;
}

a:active {
color: white;
}

.searchCardsGroup{
  text-align: center;
}

.searchCardMovie{
  width: 500px;
  height: 150px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.searchCardMovieImage{
  height: 150px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  display: inline-block;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchCardMovieText{
  padding: 10px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  font-weight: 200;
  background-color: black;
  width: 250px;
  height: 150px;
  display: inline-block;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchCardGame{
  width: 500px;
  height: 150px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.searchCardGameImage{
  height: 150px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  background-color: gray;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchCardGameText{
  padding: 10px;
  text-align: center;
  vertical-align: top;
  color: #fff;
  font-weight: 200;
  background-color: black;
  width: 250px;
  height: 150px;
  display: inline-block;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchBG{
  background-size: auto;
  background-repeat: repeat;
  background-image: url('https://365psd.ru/images/backgrounds/bg-dark-4782.jpg');
  height: 100vh;
}

.searchPage{
  background-color: #fff;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 10px;
}
