@import "style/colors";

.show-block {
    &__name {
        font-weight: 300;
        font-size: 1.5rem;
    }
    &__season {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    &__season-ul {
        padding-left: 0.5rem;
        list-style-type: none;
    }
    &__episode {
        &:nth-child(odd) {
            background-color: $newBackground2;
        }
        &:nth-child(even) {
            background-color: $newBackground3;
            border-radius: 5px;
        }
    }
}
