@use "src/shared/ui/styles/variables";

.Autocomplete {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 12px;
  border-radius: 8px;
}

.focused {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  width: 16px;
  height: 16px;
  fill: white;
}

.datalist {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 9999;
  margin-top: 8px;
  border-radius: 8px;
  background-color: black;
  border: 1px solid black;
  overflow: scroll;
}

.input {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  padding: 12px 8px 12px 0;
  font-size: 20px;

  &:focus {
    outline: none;
    border: none;
  }
}

.item:not(:last-child) {
  margin-bottom: 5px;
}
