.day-info {
    display: inline-block;
    white-space: pre-line;

    &__body {
        max-width: 100%;
        max-height: 480px;
    }
    &__date {
        display: inline-block;
        width: auto;
        font-weight: 400;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    &__category {
        margin-bottom: 0.5rem;
    }
    &__category-header {
        font-weight: 400;
        font-size: 1.2rem;
    }
    &__link {
        font-weight: 600;
    }
}
