@import "style/colors";
@import "style/project-fonts";

.input-number {
    border-radius: 8px;
    @include headline6;
    color: $newText3;
    position: relative;
    max-width: 100%;

    &__input {
        background-color: $newBackground3;
        color: $newText3;
        border: none;
        outline: none;
        min-width: 30px;
        text-align: center;
        width: auto;

        &[type=number] {
            appearance: textfield;
            -moz-appearance: textfield;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:hover ~ .input-number__hints {
            display: flex;
        }
    }
    &__minus,
    &__plus {
        background-color: $newBackground3;
        color: $newText3;
        border: none;
        outline: none;
    }
    &__minus {
        border-radius: 8px 0 0 8px;
    }
    &__plus {
        border-radius: 0 8px 8px 0;
    }
    &__hints {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: $newBackground3;
        color: $newText3;
        border-radius: 8px;

        &:active,
        &:hover {
            display: flex;
        }
    }
    &__hint {
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            color: $newAccent2;
            background-color: $newBackground2;
        }
    }
}
