@import "style/colors";

.register-form {
    background-color: $newBackground2;
    color: $newText3;
    text-align: center;

    &__auth-button {
        width: 200px;
    }

    &__input {
        width: 250px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__success,
    &__fail {
        background: $newAccent2;
        color: $newText3;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 5px;
    }
}
