.DetailedEpisodeRow {
    margin: 0;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;

    &__date {
        display: inline-block;
        width: 6rem;
        max-width: 40%;
        margin-bottom: 0px;
        margin-left: 0.5rem;
    }

    &__rate {
        display: inline-block;
        margin-right: 1rem;
    }

    &__name {
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__checkbox {
        margin: 0;
        height: 20px;
    }
}
