.settingsPage {
	width: 80rem;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(207, 207, 207);
	margin-top: 4rem;
	margin-bottom: 2em;
	padding: 0px;
}

.settingsBlock {
	padding: 1rem;
	background-color: rgb(30, 30, 30);
	cursor: pointer;
}

.settingsCheckbox {
	display: inline-block;
}

.settingsRow {
	font-size: 1.5em;
}

.saveSettingsButton {
	background-color: rgb(30, 30, 30);
	border: 1px solid #cfcfcf;
	color: rgb(207, 207, 207);
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 16px;
}
