@import "style/colors";
@import "style/project-fonts";
@import "style/mixins";

.user-page {
    @include default-page;
    background-color: $newBackground1;

    &__header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        background: $newBackground2;
        padding: 16px 24px 20px;
        border-radius: 8px;
    }
    &__user-card {
        display: flex;
        flex-direction: row;
    }
    &__user-avatar {
        height: 72px;
        width: 72px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $newBackground3;
        border-radius: 4rem;
        margin-right: 1rem;
    }
    &__username {
        @include headline5;
    }
    &__last-activity {
        @include subtitle2;
        color: $newText2;
    }
    &__subscribe-button {
        @include secondaryFont;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        background-color: $newAccent2;
        color: $newText3;
        border: none;
        border-radius: 8px;
        padding: 8px;
    }
    &__friends-header {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
}
