@import "style/colors";
@import "style/project-fonts";
@import "style/mixins";

.user-page {
    @include default-page;
    background-color: $newBackground1;

    &__friends-header {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &__tabs {
        max-width: 98vw;
    }
}
