.showContentPage {
    padding: 1rem;
    background-color: rgb(30, 30, 30);
    color: rgb(207, 207, 207);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px
}

.showContentHeader{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.showContentBody{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 15px;
}

.metacritic{
    vertical-align: middle;
    text-align: center;
    color: #fff!important;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal!important;
    font-weight: bold!important;
    font-size: 35px;
    background-color: rgb(102, 204, 51);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 6px
}

.metacriticText{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: center;
    padding-left: 3px;
}

.movieFriendsBlock{
    margin-left: 25px;
    margin-bottom: 20px;
}

.img-fluid{
    max-height: 30rem;
}

.posterBlock{
    text-align: center;
}

a.episodeLink:link {
    color: rgb(238, 238, 238);
}

a.episodeLink:visited{
    color: rgb(238, 238, 238);
}

a.episodeLink:hover{
    color: #ff69b4;
}

a.episodeLink:active{
    color: rgb(238, 238, 238);
}

.seasonBlock{
    margin-bottom: 0px;
    margin-top: 10px;
}

.seasonName{
    display: inline-block;
    margin-left: 0px;
    margin-right: 13px;
    vertical-align: top;
    font-weight: 400;
}

.episodeRows{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 90%;
}

.episodeRow{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
}

ul{
    list-style-type: none;
    margin-left: -35px;
}

li.episode:nth-child(odd){
    background-color: rgb(30, 30, 30);
}
li.episode:nth-child(even){
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
}

.episodeRating{
    margin-left: 20px;
}

.episodeRowName{
    width: 250px;
    margin-bottom: 0px;
    display: inline-block;
}

.mainInfo{
    margin-bottom: 20px;
}

.mainInfo p{
    margin-bottom: 2px;
}

#reviewSeasonInput{
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 50%;
}

.episodeDate{
    width: 100px;
    margin-bottom: 0px;
    display: inline-block;
}

.detailRow{
    font-size: 16px;
}

.episodeRowName.detailRow{
    margin-right: 40px;
}

.saveEpisodesHeader{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(50, 50, 50);
}

.saveEpisodesButton{
    width: 150px;
    height: 50px;
    background-color:#4527a0;
    color: rgb(255, 555, 255);
    border-radius: 5px;
}

.saveEpisodesButton:hover{
    color: rgb(238, 238, 238);
  }
  
  .saveEpisodesButton:active {
    background-color: #532fbd;
  }

  .episodeRowRate{
      display: inline-block;
  }