@import "style/colors";

.search-input {
    position: relative;

    &__input {
        background-color: $newBackground3;
        color: $newText3;
        border: none;
        border-radius: 1rem;
        font-size: 1.3rem;
        width: 100%;
        outline: none;
        padding: 10px 15px;

        &[type=text] {
            padding-left: 1rem;
        }
    }
    &__input:focus ~ &__hints,
    &__hints:active,
    &__hints:hover {
        visibility: visible;
        opacity: 1;
    }
    &__hints {
        z-index: 1200;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: $newBackground3;
        color: $newText3;
        border-radius: 1rem;
        flex-direction: column;
        overflow-y: auto;
        max-height: 70vh;
        transition: opacity 0.3s linear;
        visibility: hidden;
        opacity: 0;

        &_hidden {
            visibility: hidden !important;
            opacity: 0 !important;
        }
    }
    &__hints > * {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }
    &__hint {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: $newText3;

        img {
            display: none;
        }
    }
    &__hint:nth-child(1) {
        padding-left: 0;

        img {
            display: inline;
            width: 20%;
            max-height: 100px;
            margin-right: 1rem;
            margin-bottom: 0.2rem;
        }
    }
    &__hint:hover {
        color: $newAccent2;
        background-color: $newBackground2;
    }
}
