.friends-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .friends-block__friend {
        margin: 0;
    }

    @media (max-width: 760px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        justify-content: initial;
        align-items: start;

        .friends-block__friend {
            width: 100%;
            min-width: 0;
        }
    }
}
