@import "style/variables";
@import "style/typography";

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $newBackground2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1100;
  color: $newText3;
  padding: 0.5rem 1rem;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    padding: 1rem;
  }

&__leftSide {
  flex: 0;
  display: flex;
  justify-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

  &__logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

&__logo {
  @include headline5;
  color: $newText3;
  margin-left: 1rem;
  cursor: pointer;
}

&__sidebar-button {
  cursor: pointer;
  font-size: 1.5rem;
}

&__collapse-button {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    display: flex;
    justify-self: stretch;
  }
}

&__centerSide {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 200px;

  &_collapsed {
    display: none
  }
}

  &__search-field {
    width: 50%;

    @media (max-width: $tablet-width) {
      width: 80%;
    }
  }

  &__search-input {
    width: 100%
  }

  &__rightSide {
    flex: 0;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;

    &_collapsed {
      display: none;
    }

    @media (max-width: $mobile-width) {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  &__user-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-weight: 500;

    &_hidden {
      display: none;
    }
  }

  &__loginIcon {
    margin-right: 8px;
  }
}
