$disabledBackgroundColor: rgb(20, 20, 20)
$activeBackgroundColor: rgb(50, 50, 50)
$active2BackgroundColor: rgb(90, 90, 90)
$backgroundColor: rgb(30, 30, 30)
$headerBackgroundColor: rgb(0, 0, 0)

$textColor: rgb(207, 207, 207)
$linkTextColor: rgb(238, 238, 238)
$headerTextColor: rgb(255, 255, 255)

$activeColor: rgb(167, 126, 221)
$hoverLinkColor: #7654de
$mainColor: #4F5DEA

$newBackground1: #040405
$newBackground2: #191A1B
$newBackground3: #3F4041
$newText1: #2E2E2F
$newText2: #A6A6AB
$newText3: #F1F1FB
$newAccent1: #241DDC
$newAccent2: #4F5DEA
$newAccent3: #0D1254

$calendarGamesColor: rgb(30, 117, 42)
$calendarMoviesColor: rgb(131, 23, 23)
$calendarEpisodesColor: rgb(36, 90, 107)

$metacriticGreen: rgb(102, 204, 51)
$metacriticYellow: rgb(243, 193, 43)
$metacriticRed: rgb(255, 0, 0)
