html { 
  overflow-x: hidden; 
  /*overflow-y: hidden;*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 30px;
}

.bg {
  background-color: rgb(30, 30, 30);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.hs {
  margin-left: .2em;
}
