@import "colors";
@import "project-fonts";
@import "breakpoints";

@mixin default-page {
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    color: $newText3;
    background-color: $newBackground2;
    border-radius: 1rem;

    @media (max-width: $tablet-width) {
        padding: 8px 2px;
    }
}

@mixin default-button {
    background-color: $newAccent2;
    color: $newText3;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    padding: 4px 8px;

    &:hover {
        background-color: $newAccent1;
    }

    &:disabled {
        background-color: $newAccent3;
    }
}


@mixin default-input {
    max-width: 100%;
    color: $newText3;
    background-color: $newBackground3;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 0.5rem;
}


