@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    padding-left: 0;
  }
  100% {
    opacity: 1;
    padding-left: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    padding-left: 0;
  }
  100% {
    opacity: 1;
    padding-left: 1rem;
  }
}

.calendarHeader {
  margin-bottom: 2rem;
}

.dayInfoBlock {
  display: inline-block;
  white-space: pre-line;
  max-width: 100%;
  max-height: 480px;
}

.dayInfoBlock .dayInfoDate {
  display: inline-block;
  width: auto;
}

.dayInfoBlock .dayInfoCategory {
  margin-bottom: 1rem;
}

.calendarDay {
  color: #cfcfcf;
  padding: 0;
  height: auto;
  text-align: center;
  margin-top: 10px;
}

.calendarDay .calendarDayTile {
  display: inline-block;
  color: #cfcfcf;
  padding: 0.25rem;
  height: auto;
  text-align: center;
}

.calendarDay .calendarDayTile.Games {
  background-color: #1e752a;
}

.calendarDay .calendarDayTile.Movies {
  background-color: #831717;
}

.calendarDay .calendarDayTile.Episodes {
  background-color: #245a6b;
}

.react-calendar {
  display: inline-block;
  vertical-align: top;
  width: 500px !important;
  max-width: 100% !important;
  background-color: #1e1e1e !important;
  border: 1px solid #646464 !important;
  border-radius: 10px;
  margin-right: 1rem;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: #323232 !important;
  border-radius: 10px;
}

.react-calendar button:disabled {
  background-color: #141414 !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__tile--now,
.react-calendar button {
  background-color: #1e1e1e;
  color: #cfcfcf !important;
  border-radius: 10px;
}

.react-calendar button:active,
.react-calendar button:focus {
  background-color: #323232 !important;
  border-radius: 10px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background-color: #141414 !important;
}

.react-calendar button:hover {
  color: #7654de !important;
  background-color: #323232 !important;
  border-radius: 10px;
}

.react-calendar button:disabled {
  background-color: #141414 !important;
  border-radius: 10px;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.categoriesTabs {
  white-space: pre;
  max-width: 100%;
  overflow-x: auto;
}

.categoriesTabs .categoriesTab {
  background-color: #1e1e1e;
  color: #cfcfcf;
  border: none;
  padding: 0px 20px 0px 0px;
  text-align: left;
  font-weight: bolder;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  font-size: 32px;
  outline: none;
}

.categoriesTabs .categoriesTab.active {
  color: #a77edd;
}

.categoriesTabs .categoriesTab:focus {
  outline: 0 !important;
}

.categoriesTabs .categoriesLine {
  background-color: #a77edd;
  height: 0.2rem;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}

.contentStatuses {
  max-width: 100%;
  margin-top: 15px;
}

.contentStatuses .contentStatus {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 4px 8px;
  text-align: center;
  margin: 0px;
  font-size: 1rem;
}

.contentStatuses .contentStatus.active {
  background-color: #4527a0;
}

.contentStatuses .contentStatus:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contentStatuses .contentStatus:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.friendsCards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 1rem;
}

.friendsCards .cardUser {
  max-width: 100%;
  width: 250px;
  height: 75px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.friendsCards .cardUser .cardUserImage {
  height: inherit;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #323232;
  display: inline-block;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.friendsCards .cardUser .cardUserText {
  height: inherit;
  width: 70%;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  color: #cfcfcf;
  font-weight: 200;
  background-color: #323232;
  display: inline-block;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fActivityBlock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1rem 1rem 1rem 0px;
  background-color: #323232;
  color: #cfcfcf;
  vertical-align: top;
  width: 38rem;
  max-width: 100%;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.fActivityBlock .fActivityUser {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 0px;
  margin-right: 13px;
  vertical-align: top;
  font-weight: 400;
}

.fActivityBlock .fActivityInfo {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
}

.fActivityBlock .fActivityInfo .fActivityInfoText {
  margin-bottom: 5px;
}

#reviewInput, #spentTimeInput {
  color: #cfcfcf;
  background-color: #1e1e1e;
}

.md-form label.active {
  color: #cfcfcf !important;
  background-color: #1e1e1e !important;
}

.metacritic {
  vertical-align: middle;
  text-align: center;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal !important;
  font-weight: bold !important;
  background-color: darkgrey;
  font-size: 35px;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 6px;
}

.metacritic.green {
  background-color: #66cc33 !important;
}

.metacritic.yellow {
  background-color: #f3c12b !important;
}

.metacritic.red {
  background-color: red !important;
}

.metacriticText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  padding-left: 3px;
}

.seasonBlock {
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.seasonBlock .name {
  display: inline-block;
  margin-right: 7px;
}

ul {
  list-style-type: none;
}

li.episode:nth-child(odd) {
  background-color: #1e1e1e;
}

li.episode:nth-child(even) {
  background-color: #323232;
  border-radius: 5px;
}

.episodeRating {
  margin-left: 20px;
}

.episodeRowRate {
  display: inline-block;
  margin-right: 1rem;
}

.episodeRowCheck {
  display: inline-block;
}

.episodeRowDate {
  margin-bottom: 0px;
  margin-left: 0.5rem;
  display: inline-block;
}

.episodeRowCheckDate {
  display: inline-block;
  width: 7rem;
  max-width: 40%;
}

.episodeRows {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
}

.episodeRows .content {
  padding-left: 1rem;
}

.episodeRows[open] .content {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.episodeRow {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  font-size: 1rem;
  display: inline-block;
  max-width: 100%;
}

.episodeRowName {
  margin-bottom: 0px;
  display: inline-block;
}

.detailRow {
  font-size: 1rem;
}

.episodeRowName.detailRow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.saveEpisodesHeader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  text-align: center;
  padding-top: 5px;
  background-color: #323232;
}

.saveEpisodesButton {
  width: 150px;
  height: 50px;
  background-color: #4527a0;
  color: white;
  border-radius: 5px;
}

.saveEpisodesButton:hover {
  color: #cfcfcf;
  background-color: #7654de;
}

.checkAllEpisodesButton {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #eeeeee;
  font-weight: bolder;
  border-style: solid;
  border-radius: 5px;
}

.checkAllEpisodesButton:hover {
  color: #a77edd;
}

.contentPage {
  width: 80rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #cfcfcf;
  margin-top: 4rem;
  margin-bottom: 2em;
  padding: 0px;
}

.contentPage .contentHeader {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contentPage .contentHeader .posterBlock {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.contentPage .contentHeader .posterBlock.widePoster {
  width: 35rem;
}

.contentPage .contentHeader .posterBlock.tightPoster {
  width: 25rem;
}

.contentPage .contentHeader .posterBlock img {
  max-height: 30rem;
}

.contentPage .contentHeader .infoBlock {
  position: relative;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  max-width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.contentPage .contentHeader .infoBlock.tightInfo {
  width: 45rem;
}

.contentPage .contentHeader .infoBlock.wideInfo {
  width: 55rem;
}

.contentPage .contentHeader .infoBlock .header {
  padding-right: 2.5em;
}

.contentPage .contentHeader .infoBlock .mainInfo {
  margin-bottom: 10px;
}

.contentPage .contentHeader .infoBlock .mainInfo p {
  margin-bottom: 2px;
}

.contentPage .contentHeader .infoBlock .scoreBlock {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: top;
}

.contentPage .contentHeader .infoBlock #reviewInput {
  background-color: black;
  color: white;
  width: 50%;
}

.contentPage .contentBody {
  background-color: #1e1e1e;
  padding: 1rem;
}

.contentPage .contentBody .reviewBody {
  width: 39rem;
  max-width: 100%;
  padding-right: 1rem;
}

.contentPage .contentBody .friendsBlock {
  position: relative;
  max-width: 100%;
  width: 78rem;
}

.contentPage .contentBody .additionalBody {
  width: 39rem;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 1.5rem;
}

.saveReviewButton {
  background-color: black;
  color: white;
  border: 1px solid #cfcfcf;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 1rem;
  font-size: 16px;
}

.saveReviewButton:hover {
  color: #a77edd;
}

.searchCardsGroup {
  text-align: center;
  width: 92%;
  display: inline-block;
  margin-left: 4%;
}

.searchCard {
  width: 500px;
  max-width: 100%;
  height: 100px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.searchCard .searchCardImage {
  height: 100px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  display: inline-block;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.searchCard .searchCardText {
  padding: 10px;
  text-align: center;
  vertical-align: top;
  color: #eeeeee;
  font-weight: 200;
  background-color: #323232;
  height: 100px;
  width: 50%;
  display: inline-block;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchCard .searchCardName {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70%;
}

#searchInput2 {
  color: #cfcfcf;
  background-color: #1e1e1e;
}

.paginationButton {
  position: absolute;
  top: 0;
  width: 4%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  color: #cfcfcf;
  background-color: #1e1e1e;
  border-radius: 5px;
  border: none;
}

.paginationButton:hover {
  background-color: #323232;
}

.paginationButton:active {
  border: none;
}

.reslutsBlock {
  position: relative;
}

.settingsHeader {
  margin-bottom: 2rem;
}

.settingsCheckbox {
  display: inline-block;
}

.settingsRow {
  font-size: 1.5em;
  cursor: pointer;
}

.saveSettingsButton {
  background-color: #1e1e1e;
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
}

.episodeRowRate {
  display: inline-block;
  margin-right: 1rem;
}

.episodeRowDate {
  margin-bottom: 0px;
  margin-left: 0.5rem;
  display: inline-block;
}

.episodeRowCheckDate {
  display: inline-block;
  width: 7rem;
  max-width: 40%;
}

.episodeRows {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
}

.episodeRow {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  font-size: 1rem;
  display: inline-block;
  max-width: 100%;
}

.episodeRowName {
  margin-bottom: 0px;
  display: inline-block;
}

.detailRow {
  font-size: 1rem;
}

.episodeRowName.detailRow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.unwatchedShowBlock {
  margin-bottom: 1rem;
}

.unwatchedSeasonBlock {
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
}

li.episode:nth-child(odd) {
  background-color: #1e1e1e;
}

li.episode:nth-child(even) {
  background-color: #323232;
  border-radius: 5px;
}

li.episode {
  -webkit-transition-property: display;
  transition-property: display;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.unwatchedSeasonBlock .content {
  padding-left: 1rem;
}

.unwatchedSeasonBlock[open] .content {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.userPage {
  background-color: #1e1e1e;
  color: #cfcfcf;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 10px;
}

.addFriendButton {
  background-color: #1e1e1e;
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  font-size: 16px;
}

.addFriendButton:hover {
  color: #a77edd;
}

.addFriendButton:active {
  color: white;
}

a.logLink:link, a.logLink:visited, a.logLink:active, a.dataTable:link, a.dataTable:visited, a.dataTable:active {
  color: #eeeeee;
  font-weight: 500;
}

a.logLink:hover, a.dataTable:hover {
  color: #a77edd;
  font-weight: 500;
}

.logDay {
  margin-bottom: 0px;
  margin-top: 10px;
}

.logDate {
  display: inline-block;
  margin-left: 0px;
  margin-right: 13px;
  vertical-align: top;
  font-weight: 400;
}

.logRows {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 70rem;
  max-width: 100%;
}

.logRow {
  margin-bottom: 8px;
  margin-top: 0px;
}

.logPaginationButton {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 100px;
  background-color: #1e1e1e;
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
}

.dataTable {
  color: #cfcfcf;
  max-width: 100%;
}

.md-form input.active, .mdb-datatable-filter input, .dataTables_length select {
  color: #cfcfcf !important;
  background-color: #1e1e1e !important;
}

.dataTables_paginate a {
  color: #cfcfcf !important;
}

.dataTables_paginate li.active a, .dataTables_paginate li a:hover {
  background-color: #7654de !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #1e1e1e;
}

.confirmPasswordForm {
  margin-top: 10rem;
  color: #cfcfcf;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.confirmPasswordLabel {
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 1em;
}

.confirmPasswordInput {
  width: 300px;
  background-color: #1e1e1e;
  color: #cfcfcf;
  border: 1px solid;
  border-color: #cfcfcf;
  border-radius: 5px;
  outline: 0;
  padding-bottom: 0px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;
}

.confirmPasswordInput:focus {
  border-color: #80bdff;
  outline: 0;
}

.confirmPasswordButton {
  background-color: #a77edd !important;
  color: white;
  font-size: 1.1rem;
  padding: 5px 30px;
  width: 12rem;
  border-radius: 5px;
}

.confirmPasswordButton:disabled {
  background-color: #5b1a81 !important;
  color: #b1b1b1;
  font-size: 1.1rem;
  padding: 5px 30px;
  width: 12rem;
  border-radius: 5px;
}

.show .dropdown-menu {
  background-color: #1e1e1e;
}

.dropdown-item {
  color: #cfcfcf !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #323232 !important;
}

.navDropdownItem {
  color: #cfcfcf !important;
  padding-left: 0;
  margin-left: 0;
  font-size: 1em !important;
  font-weight: 400 !important;
}

.confirmEmailSuccess,
.confirmEmailFailure {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 3rem;
}

.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}

.registrationBody, .loginBody {
  background-color: #1e1e1e;
  color: #cfcfcf;
  text-align: center;
}

input.form-control {
  background-color: #1e1e1e;
  color: #cfcfcf;
  margin-bottom: 10px;
  outline: none;
}

input.form-control:focus {
  background-color: #1e1e1e;
  color: #cfcfcf;
}

input.form-control:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #1e1e1e !important;
  -webkit-box-shadow: inset 0 0 0 50px #1e1e1e !important;
  -webkit-text-fill-color: #cfcfcf !important;
  color: #cfcfcf !important;
}

.confirmButton {
  background-color: #a77edd !important;
  color: white;
}

.note {
  color: black;
}

.passwordResetLabel {
  display: block;
  margin-top: 15px;
  color: #cfcfcf;
}

.passwordResetLabel:hover {
  color: #7654de;
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-color: #1e1e1e;
  color: #cfcfcf;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  z-index: -1000;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.textureBG {
  background-size: auto;
  background-repeat: repeat;
  background-image: url("https://365psd.ru/images/backgrounds/bg-dark-4782.jpg");
  height: 100vh;
  -webkit-filter: none;
          filter: none;
}

.rootPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sideNav {
  margin-top: 1rem;
}

.activePage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hs {
  margin-left: 0.2em;
}

a {
  font-weight: 400;
}

a:link, a:visited, a:active {
  color: #eeeeee;
}

a:hover {
  color: #a77edd;
}
/*# sourceMappingURL=main.css.map */