@import "style/colors";
@import "style/mixins";
@import "style/project-fonts";

.RandomCard {
  display: grid;
  grid-template-columns: 160px minmax(0, 1fr);
  gap: 1.5rem;
  align-items: center;

  &__poster {
    width: 160px;
    height: 240px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.45);

    @media(max-width: $tablet-width) {
      width: 140px;
      height: 210px;
    }
  }

  @media(max-width: $tablet-width) {
    grid-template-columns: 140px minmax(0, 1fr);
  }

  &__link {
    @include headline5;
    color: $newText3;
    display: inline-flex;
    line-height: 1.2;
  }
}
