@import "style/colors";
@import "style/mixins";
@import "style/project-fonts";

.RandomCard {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__poster {
    height: 300px;
    max-width: 450px;
    object-fit: cover;

    @media(max-width: $tablet-width) {
      height: auto;
      max-width: 50%;
    }
  }

  @media(max-width: $tablet-width) {
    height: auto;
    max-width: 100%;
  }

  &__link {
    @include headline5
  }
}
