.registrationBody{
    background-color: rgb(30,30,30);
    color: rgb(207, 207, 207);
    text-align: center;
}

.loginBody{
    background-color: rgb(30,30,30);
    color: rgb(207, 207, 207);
    text-align: center;
}

input.form-control{
    background-color: rgb(30,30,30);
    color: rgb(207, 207, 207);
    margin-bottom: 10px;
}


input.form-control:focus{
    background-color: rgb(30,30,30);
    color: rgb(207, 207, 207);
}

.confirmButton{
    background-color: #7654de !important;
    color: rgb(255,255,255);
}

.note{
    color: black;
}