.registrationBody {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207);
	text-align: center;
}

.loginBody {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207);
	text-align: center;
}

input.form-control {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207);
	margin-bottom: 10px;
	outline: none;
}

input.form-control:focus {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207);
}

input.form-control:-webkit-autofill {
	box-shadow: inset 0 0 0 50px rgb(30, 30, 30) !important; /* Цвет фона */
	-webkit-box-shadow: inset 0 0 0 50px rgb(30, 30, 30) !important; /* Цвет фона */
	-webkit-text-fill-color: rgb(207, 207, 207) !important; /* цвет текста */
	color: rgb(207, 207, 207) !important; /* цвет текста */
}

.confirmButton {
	background-color: #7654de !important;
	color: rgb(255, 255, 255);
}

.note {
	color: black;
}

.passwordResetLabel {
	color: rgb(207, 207, 207);
}

.passwordResetLabel:hover {
	color: #7654de;
	cursor: pointer;
}
