@import "style/variables";

.Footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  padding-top: 1rem;
  background-color: $newBackground2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: $newText2;
  font-size: 1.1em;

   > * {
     flex: 0 1 400px;
     max-width: 100%;
     padding: 1rem;
   }

  &__name {
    font-size: 1.7rem;
    color: $newText3;
    font-weight: 500;
  }

  &__email {
    font-size: 1rem;
  }

  &__date {
    font-size: 0.9rem;
  }

  &__social-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
  }

  &__social-link {
    font-size: 2.5em;
    margin-left: -1.5em;
  }

  &__rawg-logo {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.5s;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  }

  &__tmdbLogo {
    width: 120px;
    height: 87px;

    svg {
      width: 120px;
      height: 87px;
    }
  }

  &__icon {
    color: $newText3;
    transition: color 0.5s;

    &:hover {
      color: $newAccent2;
    }
  }
}
