.calendarPage {
	width: 80rem;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: rgb(207, 207, 207);
	margin-top: 4rem;
	margin-bottom: 2em;
	padding: 0px;
}

.calendarBlock {
	padding: 1rem;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(30, 30, 30);
}

.calendarHeader {
	margin-bottom: 2rem;
}

.timelineEvent {
	background-color: rgb(30, 30, 30) !important;
}

.releasesList {
	margin-top: 1rem;
}

.dayInfo {
	display: inline-block;
}

.dayInfoDate {
	width: auto;
}

.dayInfoBlock {
	display: inline-block;
	white-space: pre-line;
	max-width: 100%;
}

.react-calendar {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	max-width: 100% !important;
	background-color: rgb(30, 30, 30) !important;
	border: 1px solid rgb(100, 100, 100) !important;
	border-radius: 10px;
	margin-right: 1rem;
}

.calendarDay {
	color: rgb(207, 207, 207);
	padding: 0;
	height: auto;
	text-align: center;
	margin-top: 10px;
}

.calendarDayTile {
	display: inline-block;
	color: rgb(207, 207, 207);
	padding: 0.25rem;
	height: auto;
	text-align: center;
}
.calendarDayTile.Games {
	background-color: rgb(30, 117, 42);
}
.calendarDayTile.Movies {
	background-color: rgb(131, 23, 23);
}
.calendarDayTile.Episodes {
	background-color: rgb(36, 90, 107);
}

.dayInfoCategory {
	margin-bottom: 1rem;
}
.react-calendar__tile--active,
.react-calendar__tile--hasActive {
	/*background: #7654de !important;*/
	background: rgb(50, 50, 50) !important;
	border-radius: 10px;
}

.react-calendar button:disabled {
	background-color: rgb(20, 20, 20) !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__tile--now,
.react-calendar button {
	background-color: rgb(30, 30, 30);
	color: rgb(207, 207, 207) !important;
	border-radius: 10px;
}

.react-calendar button:active,
.react-calendar button:focus {
	background-color: rgb(50, 50, 50) !important;
	border-radius: 10px;
}

.react-calendar__month-view__days__day--neighboringMonth {
	background-color: rgb(23, 23, 23) !important;
}

.react-calendar button:hover {
	color: #7654de !important;
	background-color: rgb(40, 40, 40) !important;
	border-radius: 10px;
}

.react-calendar button:disabled {
	background-color: rgb(20, 20, 20) !important;
	border-radius: 10px;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
	display: none;
}

a.dayInfoLink:link,
a.dayInfoLink:visited,
a.dayInfoLink:active {
	color: rgb(207, 207, 207);
	font-weight: 500;
}

a.dayInfoLink:hover {
	color: #ff69b4;
	font-weight: 500;
}
