@use "src/shared/ui/styles/variables";

.Header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  background-color: variables.$background;
  padding: 20px;
}

.search {
  width: 400px;
}
